# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Saved Figures
*.png
*.pdf
*.jpg
*.jpeg
*.fig

# Add your own:)

